# Para desenvolvimento local (SQLite)
DATABASE_URL="file:./dev.db"

# Para produção (PostgreSQL) - fornecido pelo serviço de deploy
# DATABASE_URL="postgresql://usuario:senha@host:porta/database?schema=public"

PORT=3000
NODE_ENV=development
